<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Properties>

        <Property name="logDir">forex-data-collector/logs</Property>
        <Property name="rollingFileSize">10 MB</Property>
        <Property name="rollingMaxFiles">7</Property>
        <Property name="deleteMaxAge">P30D</Property>

<!--        <Property name="filePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n%throwable</Property>-->

        <Property name="consoleHighlightPattern">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level}{FATAL=red bold, ERROR=red, WARN=yellow, INFO=green,
            DEBUG=blue, TRACE=magenta} - [%t] %style{%c{1.}}{cyan} - %msg%n%throwable
        </Property>

    </Properties>


    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleHighlightPattern}" disableAnsi="false"/>   <!-- disable ansi for colorize the logs -->
        </Console>

        <RollingFile name="RollingFileAppender"
                     fileName="${logDir}/forex-data-collector.log"
                     filePattern="${logDir}/archive/forex-data-collector-%d{yyyy-MM-dd}-%i.log.gz">

            <!--<PatternLayout pattern="${filePattern}"/>-->

            <JsonLayout eventEol="true" compact="true"
                        includeStacktrace="true" includeTimeMillis="true"
                        properties="true" stacktraceAsString="true"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${rollingFileSize}"/>
            </Policies>

            <DefaultRolloverStrategy max="${rollingMaxFiles}">
                <Delete basePath="${archiveDir}" maxDepth="1">
                    <IfFileName glob="forex-data-collector-*.log.gz"/>
                    <IfLastModified age="${deleteMaxAge}"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>


    </Appenders>

    <Loggers>
        <Root level="${env:LOG_LEVEL_ROOT:-INFO}">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <Logger name="com.toyota" level="${env:LOG_LEVEL_TOYOTA:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="org.apache.kafka" level="off" additivity="false"/>


    </Loggers>

</Configuration>