<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Properties>

        <Property name="logDir">rest-data-provider/logs</Property>
        <Property name="rollingFileSize">5 MB</Property>
        <Property name="rollingMaxFiles">5</Property>
        <Property name="deleteMaxAge">P5D</Property>

        <Property name="filePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n%throwable</Property>
        <!--<Property name="ConsolePattern">%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level  [%t]  -  %logger{36}  -  %msg%n%throwable</Property>-->
        <Property name="consoleHighlightPattern">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level}{FATAL=red bold, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=magenta} - [%t] %style{%c{1.}}{cyan} - %msg%n%throwable
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleHighlightPattern}" disableAnsi="false"/>   <!-- disable ansi for colorize the logs -->
        </Console>

        <RollingFile name="RollingFileAppender"
                     fileName="${logDir}/rest-data-provider.log"
                     filePattern="${logDir}/archive/rest-data-provider-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${filePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${rollingFileSize}"/>
            </Policies>

            <DefaultRolloverStrategy max="${rollingMaxFiles}">
                <Delete basePath="${archiveDir}" maxDepth="1">
                    <IfFileName glob="rest-data-provider-*.log.gz"/>
                    <IfLastModified age="${deleteMaxAge}"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <Logger name="com.toyota" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

    </Loggers>

</Configuration>